
.App {
  text-align: center;
  background-color: lightpink;
  height: 500px;
  
}

.input-bar {
  border: 2px solid black;
  font-size: 20px;
  border-radius: 5px;

}

.btn-addTask {
  padding: 7px 10px;
  background-color: orange;
  border-radius: 10px;
  border: 1px solid black;
  margin-left: 10px;

}

.notice-container {
  border: 2px solid black;
  width: 50%;
  margin: auto;
  height: 60px;
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
  padding: 8px;
}

.login-container {
  border: 2px solid black;
  width: 50%;
  height: 300px;
  margin: auto;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.login-form {
  padding: 12px;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.login-input {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid black;
}

